
/* Contenedor principal */
.loginForm {
  width: 66.4vh;
  height: 78vh;

  background-color: #2D2D2D;
  margin: 3vh;

  border-radius: 2vh;


  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2vh rgba(0, 0, 0, 0.1); /* Opcional: sombra para efecto visual */
}

.loginForm form {
  color: #dedede;
  padding: 0 2.3vh;
  display: flex;
  flex-direction: column;
  gap: 1.2vh;
  flex-grow: 1;
  justify-content: center;
  background-color: transparent;
}

.loginForm h2 {
  padding: 0 2.3vh;
  font-size: 4vh;
  background-color: transparent;
}

.loginForm label {
  font-size: 2.6vh;
  font-weight: 300;
  color: #cecece;
  background-color: transparent;
  padding: 0 2.3vh;
}

.loginForm input {
  padding: 0.2vh 2.3vh;
  border: 0.3vh solid #b7b7b7;
  color: #dedede;
  background-color: #646464;
  border-radius: 1vh;
  font-size: 2.6vh;
  border-radius: 1.4vh;
}

.loginForm input:focus {
  outline: none;
  border-color: #dedede;
}

.loginForm button {
  background: #648C5A;
  padding: 0.4vh 2.3vh;
  margin-top: 1vh;
  color: white;
  border: none;
  border-radius: 1.4vh;
  font-size: 2.6vh;
  cursor: pointer;
  transition: background 0.3s ease;
}

.loginForm button:hover {
  background: #648c5a80;
}

.loginForm p {
  padding: 0 2.3vh;
}

.loginForm a {
  text-decoration: none;
  color: #5082A0;
}

.loginForm a:hover {
  text-decoration: none;
  color: #5081a080;
}

.loginForm p, .loginForm a {
  font-weight: 300;
  background-color: transparent;
  font-size: 2.6vh;
}

.error {
  color: #B43C3C;
  margin-top: 0;
  text-align: center;
}