.aboutSection {
    width: 100vh;
    height: 78vh;
  
    background-color: #2D2D2D;
    padding: 0 2.3vh;
    margin: 3vh;
    border-radius: 2vh;
  
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.1); /* Opcional: sombra para efecto visual */
}

.aboutSection h2 {
    color: #dedede;
    background-color: transparent;
    font-size: 5vh;
    font-weight: 400;
}

.aboutSection h2 strong {
    background-color: transparent;
}

.aboutSection p {
    color: #dedede;
    background-color: transparent;
    font-size: 2.6vh;
    font-weight: 300;
    padding: 2vh 0;
}